.layout {
  justify-content: center;
  display: flex;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.headerRight {
  justify-content: flex-end;
  width: 100%;
}

.content {
  min-height: 80%;
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
}
